@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
}
body {
    min-height: 100vh;
    overflow: hidden;
}
.container {
    position: relative;
    width: 100%;
}
.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active {
    width: 80px;
}
.Title {
    position: absolute;
    top: 20px;
    width: 100%;
    height: 50px;
}
.Title-a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
    line-height: 60px;
    font-size: 30px;
    font-weight: 700;
}
.Title .icon ion-icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 80px;
    text-align: center;
    padding-right: 30px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}
.UserPictureDiv {
    margin-bottom: 40px;
    pointer-events: none;
    text-align: center;
    align-items: center;
}
.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var var(--blue);
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 80px;
    text-align: center;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}
.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    white-space: nowrap;
}

.UserPicture {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: 100px;
    margin-bottom: 20px;
}
.UserPictureName {
    width: 300px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    color: var(--white);
}
.NFlist {
    position: relative;
    opacity: 0;
    top: 471px;
    width: 300px;
    height: 400px;
    background: #38e86a;
    background: none;
}
.NFlist ul {
    position: absolute;
    left: 60px;
    width: 100%;
}
.NFlist ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.user {
    /* transition: 0.1s; */
    display: block;
}
.user.active {
    margin-top: 475px;
    /* transition: 0.1s; */
}

/* ----- curve outside ----- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/*--- main Page ---*/
.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 80px);
    left: 80px;
}
.topbar {
    width: 100px;
    height: 60px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 99;
    transition: 0.5s;
}
.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}
.topbar.active {
    margin-left: 80px;
}
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}
.cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 7px 25px rgb(0, 0, 0, 0.08);
}
.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}
.cardBox .card .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBx {
    font-size: 3.5em;
    color: var(--black2);
}
.cardBox .card:hover {
    background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 30px;
    /* margin-top: 10px; */
}
.details .UserInfos {
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 30px;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}
.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td {
    font-weight: 600;
}
.details .UserInfos table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .UserInfos table tr:last-child {
    border-bottom: none;
}
.details .UserInfos table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
    text-decoration: none;
}
.details .UserInfos table tbody tr td {
    padding: 10px;
}
.details .UserInfos table tr td {
    text-align: center;
}
.status.Connected {
    padding: 4px 8px;
    background: #38e86a;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.Idle {
    padding: 4px 8px;
    background: #f9ca3f;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.Disconnected {
    padding: 4px 8px;
    background: #999;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.alarm {
    padding: 4px 8px;
    background: rgb(255, 0, 0);
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
