@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #f1f0f6;
    --dark-grey: #8d8d8d;
    --light: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --blue: #1775f1;
    --light-blue: #d0e4ff;
    --dark-blue: #0c5fcd;
    --red: #fc3b56;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all 0.3s ease;
    z-index: 200;
}
#sidebar.hide {
    max-width: 60px;
}
#sidebar.hide:hover {
    max-width: 260px;
}
#sidebar::-webkit-scrollbar {
    display: none;
}
#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all 0.3s ease;
    padding: 0 6px;
}
#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}
#sidebar .icon-right {
    margin-left: auto;
    transition: all 0.3s ease;
}
#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
    padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}
#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all 0.3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
    background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
    transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
    background: var(--blue);
    color: var(--light);
}
#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
    transition: all 0.3s ease;
    white-space: nowrap;
}
#sidebar.hide:hover .divider {
    text-align: left;
}
#sidebar.hide .divider {
    text-align: center;
}
#sidebar .side-dropdown {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
    max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
    color: var(--blue);
}
#sidebar .ads {
    width: 100%;
    padding: 20px;
}
#sidebar.hide .ads {
    display: none;
}
#sidebar.hide:hover .ads {
    display: block;
}
#sidebar .ads .wrapper {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
}
#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: var(--blue);
    transition: all 0.3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
    background: var(--dark-blue);
}
#sidebar .ads .wrapper p {
    font-size: 12px;
    color: var(--dark-grey);
    text-align: center;
}
#sidebar .ads .wrapper p span {
    font-weight: 700;
}
/* SIDEBAR */

/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#AMF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#SMF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#UPF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#AUSF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#NSSF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#PCF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#NRF {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#UDM {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#Profile {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#MainChart {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#MainWidget {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#Message {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.3s ease;
}
#sidebar.hide + #content {
    width: calc(100% - 60px);
    left: 60px;
}
/* NAVBAR */
nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}
nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}
nav form {
    max-width: 400px;
    width: 100%;
    margin-left: 40%;
    margin-right: auto;
}
nav .form-group {
    position: relative;
}
nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all 0.3s ease;
}
nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
}
nav .nav-link {
    position: relative;
}
nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}
nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}
nav .divider {
    width: 1px;
    background: var(--grey);
    height: 12px;
    display: block;
}
nav .profile {
    position: relative;
}
nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 99999;
}
nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}
nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all 0.3s ease;
}
nav .profile .profile-link a:hover {
    background: var(--grey);
}

/* test */
.navbar nav {
    flex: 1;
    display: flex;
}
.navbar nav ul {
    list-style-type: none;
}
.navbar nav ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
.navbar nav ul li:hover {
    background: rgb(146, 146, 146);
    color: black;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}
.navbar nav ul li button {
    display: inline-block;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
    padding: px 20px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    border-radius: 50px;
    border: none;
    background: #d7fffe00;
}
.navbar nav ul li:nth-child(1) {
    background-color: #2cd8d5;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    from {
        background-color: #2cd8d5;
    }
    to {
        background-color: #ffbac3;
    }
}

nav ul li a {
    text-decoration: none;
    color: #000;
    transition: 0.6s ease;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* NAVBAR */

/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
    overflow-y: hidden;
}
main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}
main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}
main .breadcrumbs li a {
    color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
    color: var(--dark-grey);
    pointer-events: none;
}
main .info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}
main .info-data .card {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
}
main .card .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
main .card .head h2 {
    font-size: 24px;
    font-weight: 600;
}
main .card .head p {
    font-size: 14px;
}
main .card .head .icon {
    font-size: 20px;
    color: var(--green);
}
main .card .head .icon.down {
    color: var(--red);
}
main .card .progress {
    display: block;
    margin-top: 24px;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: var(--grey);
    overflow-y: hidden;
    position: relative;
    margin-bottom: 4px;
}
main .card .progress::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--blue);
    width: var(--value);
}
main .card .label {
    font-size: 14px;
    font-weight: 700;
}
main .data {
    display: flex;
    grid-gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
main .data .content-data {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
main .content-data .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
main .content-data .head h3 {
    font-size: 20px;
    font-weight: 600;
}
main .content-data .head .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .content-data .head .menu .icon {
    cursor: pointer;
}
main .content-data .head .menu-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 140px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
main .content-data .head .menu-link.show {
    top: 100%;
    opacity: 1;
    pointer-events: visible;
}
main .content-data .head .menu-link a {
    display: block;
    padding: 6px 16px;
    font-size: 14px;
    color: var(--dark);
    transition: all 0.3s ease;
}
main .content-data .head .menu-link a:hover {
    background: var(--grey);
}
main .content-data .chart {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
    display: none;
}

main .chat-box {
    width: 100%;
    max-height: 360px;
    overflow-y: auto;
    scrollbar-width: none;
}
main .chat-box::-webkit-scrollbar {
    display: none;
}
main .chat-box .day {
    text-align: center;
    margin-bottom: 10px;
}
main .chat-box .day span {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    background: var(--light-blue);
    color: var(--blue);
    font-size: 12px;
    font-weight: 600;
}
main .chat-box .msg img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    object-fit: cover;
}
main .chat-box .msg {
    display: flex;
    grid-gap: 6px;
    align-items: flex-start;
}
main .chat-box .profile .username {
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin-right: 6px;
}
main .chat-box .profile .time {
    font-size: 12px;
    color: var(--dark-grey);
}
main .chat-box .chat p {
    font-size: 14px;
    padding: 6px 10px;
    display: inline-block;
    max-width: 400px;
    line-height: 150%;
}
main .chat-box .msg:not(.me) .chat p {
    border-radius: 0 5px 5px 5px;
    background: var(--blue);
    color: var(--light);
}
main .chat-box .msg.me {
    justify-content: flex-end;
}
main .chat-box .msg.me .profile {
    text-align: right;
}
main .chat-box .msg.me p {
    background: var(--grey);
    border-radius: 5px 0 5px 5px;
}
main form {
    margin-top: 6px;
}
main .form-group {
    width: 100%;
    display: flex;
    grid-gap: 10px;
}
main .form-group input {
    flex-grow: 1;
    padding: 10px 16px;
    border-radius: 5px;
    outline: none;
    background: var(--grey);
    border: none;
    transition: all 0.3s ease;
    width: 100%;
}
main .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
main .btn-send {
    padding: 0 16px;
    background: var(--blue);
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}
main .btn-send:hover {
    background: var(--dark-blue);
}

main .info-data .card_middle {
    padding: 40px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    /* max-height: 300px; */
    /* overflow-y: auto; */
}
main .info-data .card_middle box-icon {
    height: 150px;
    width: 150px;
}
main .info-data .card_middle2 {
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    max-height: 300px;
    justify-content: center;
}
main .info-data .card_middle2 .Node_status {
    padding-top: 30px;
    text-align: center;
    width: 300px;
    display: inline-flex;
    font-size: 20px;
    font-weight: 500;
}
main .info-data .card_middle2 .Node_status box-icon {
    height: 30px;
    width: 30px;
}
main .info-data .card_middle2 .Node_status div {
    position: relative;
    text-align: right;
    width: 100%;
    margin-right: 10px;
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all 0.3s ease;
    }
    nav .nav-link,
    nav .divider {
        display: none;
    }
}
.NFselection {
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 500;
}
.NFselection input {
    margin-left: 5px;
    border-radius: 25px;
    border-style: none;
    width: 70px;
    background: var(--dark-grey);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.NFselection input:hover {
    background: var(--dark-blue);
}
.SetTime {
    margin-top: 20px;
    display: inline-flex;
}
.SetTime p {
    padding: 0px 20px;
}
.Logs {
    width: 100%;
    margin-top: 40px;
    border-radius: 10px;
    border: #8d8d8d solid;
}

.Profile_label {
    display: inline-flex;
    width: 100%;

    border: none;
    padding: 20px 20px 20px 20px;
    z-index: 999999;
}
.head .profile_photo {
    width: 100px;
    height: 100px;
    padding-bottom: 30px;
}
.ProfileDetail {
    width: 20%;
    background: var(--grey);
}

.Profile_label p {
    margin-left: 10px;
    background: var(--light-blue);
}

/* Login Content */

.LoginBackground {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10000;
    background: #8d8d8d63;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.login-content {
    position: relative;
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #1b2a74;
}

form {
    width: 360px;
}

.login-content img {
    height: 100px;
}

.login-content h2 {
    margin: 15px 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.9rem;
}

.login-content .input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
    margin-top: 0;
}

.i {
    color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    transition: 0.3s;
}

.input-div > div {
    position: relative;
    height: 45px;
}

.input-div > div > h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: 0.3s;
}

.input-div:before,
.input-div:after {
    content: "";
    position: absolute;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #38d39f;
    transition: 0.4s;
}

.input-div:before {
    right: 50%;
}

.input-div:after {
    left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
    width: 50%;
}

.input-div.focus > div > h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus > .i > i {
    color: #38d39f;
}

.input-div > div > input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: "poppins", sans-serif;
}

.input-div.pass {
    margin-bottom: 4px;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: 0.3s;
}

a:hover {
    color: #38d39f;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover {
    background-position: right;
}

.footer {
    width: 100%;
    height: 150px;
    background-color: #333;
}
.login-content div ion-icon {
    position: absolute;
    justify-content: unset;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    color: #fff;
}

/* Signup Part */
.SignupBackground {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 10000;
    background: #8d8d8d63;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Signup-content {
    position: relative;
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #23243c;
}

.Signup-content h1 {
    color: rgba(0, 0, 0, 0.692);
    font-size: 3rem;
    letter-spacing: 3px;
    margin: 10px;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.Signup-content form {
    /* background-color: #23243c; */
    background-color: #23243c;
    /* box-shadow: 2px 2px 30px rgba(0,0,0,0.2); */
    /* border-radius: 10px; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Signup-content form input {
    margin: 10px;
    width: 250px;
    height: 30px;
    background-color: #434459;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
}
.Signup-content form input::placeholder {
    color: #727383;
}
.Signup-content form button {
    text-transform: uppercase;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 5px;
    font-weight: 600;
    background-color: #3b70e0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}
.Signup-content form button:hover {
    background-color: rgb(125, 49, 247);
    transition: all ease 0.3s;
}

.Signup-content form div ion-icon {
    position: absolute;
    justify-content: unset;
    left: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    color: #fff;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    .login-content h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img {
        width: 400px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .img {
        display: none;
    }

    .wave {
        display: none;
    }

    .login-content {
        justify-content: center;
    }
}

/* Signup Part */
.VerifyBackground {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10000;
    top: 0px;
    background: #8d8d8d63;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.Verify-content {
    position: relative;
    display: flex;
    width: 600px;
    height: 600px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background: #23243c;
}
.Verify-content form {
    /* background-color: #23243c; */
    background-color: #23243c;
    /* box-shadow: 2px 2px 30px rgba(0,0,0,0.2); */
    /* border-radius: 10px; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Verify-content form input {
    margin: 10px;
    width: 250px;
    height: 30px;
    background-color: #434459;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    padding: 5px 10px;
}
.Verify-content form input::placeholder {
    color: #727383;
}
.Verify-content form button {
    text-transform: uppercase;
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 5px;
    font-weight: 600;
    background-color: #3b70e0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}
.Verify-content form button:hover {
    background-color: rgb(125, 49, 247);
    transition: all ease 0.3s;
}

.H_btn {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    font-weight: 700;
    border-radius: 20px;
}

.H_btn:hover {
    background: #3b70e0;
}

.H_NFs {
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 20px;
}
.H_NFs::after {
    background: #0c5fcd;
}
.H_NFs option {
    font-weight: 700;
}
.H_h2 {
    position: relative;
    top: 20px;
}